/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.dynamic-page h1,
.dynamic-page h2,
.dynamic-page h3 {
  font-family: var(--font-family-sans);
  margin: 10px 0;
}
.dynamic-page strong,
.dynamic-page b {
  font-family: var(--font-family-sans);
}
.dynamic-page ul {
  padding-left: 0;
  position: relative;
  left: 18px;
}
.dynamic-page img {
  margin: 10px 0;
}
.dynamic-page a {
  /* inherit styles from link--black */
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

/* Special case imprint, as it has very very long link titles. */
.dynamic-page--impressum a {
  word-break: all;
  word-break: break-word; /* non-standard for webkit */
  hyphens: auto;
}

@media (max-width: 648px) {
  .dynamic-page img {
    width: 100%;
    max-width: 250px;
  }
  .dynamic-page.cp--t3-5 {
    padding-top: 126px;
  }
}