/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.cta-buttons {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  flex-shrink: 1;
  text-align: center;
  display: inline-block;
  border: 2px solid var(--color-orange);
  width: 432px;
  background-color: white;
  position: relative;
  transition: color .5s;
}
.cta-button:hover {
  color: var(--color-orange);
}

/* Animated corner lines, using 2 pseudo elements and modifying their sizes. */
.cta-button:before,
.cta-button:after {
  position: absolute;
  display: block;
  content: "";
  width: 54px;
  height: 54px;
  transition: all .5s ease-out;
}
.cta-button:before {
  bottom: 10px;
  left: 10px;
  border-left: 2px solid var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}
.cta-button:after {
  top: 10px;
  right: 10px;
  border-top: 2px solid var(--color-orange);
  border-right: 2px solid var(--color-orange);
}
.cta-button:hover:before,
.cta-button:hover:after {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}