/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.cta-buttons {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  flex-shrink: 1;
  text-align: center;
  display: inline-block;
  border: 2px solid var(--color-orange);
  width: 432px;
  background-color: white;
  transition: color .5s;
}
.cta-button:hover {
  color: var(--color-orange);
}

@media (max-width: 1152px) { /* 16 cells */
  .cta-button {
    width: 35vw;
  }
}

@media (max-width: 864px) { /* 12 cells */
  .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
  .cta-button {
    width: 80vw;
    max-width: 360px;
  }
  .cta-button + .cta-button {
    margin-top: 48px;
  }
}

@media (max-width: 648px) { /* 9 cells */
  .cta-button {
    max-width: 288px;
  }
  .cta-button + .cta-button {
    margin-top: 24px;
  }
}