/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.cta-bar {
  background-image: url(../../img/bg_cta_bar.jpg);
  background-size: cover;
  background-position: center;
}

.cta-buttons {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  width: 432px; /* 6 cols */
  min-height: 126px;
  max-width: 100%;
  text-align: center;
  background-color: white;
  border: 2px solid var(--color-orange);
  transition: color .5s;
}
.cta-button:hover {
  color: var(--color-orange);
}
@media (max-width: 864px) {
  .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
  .cta-button {
    min-height: 90px;
  }
  .cta-button.corners::before,
  .cta-button.corners::after {
    width: 36px;
    height: 36px;
  }
  .cta-button.corners:hover::before,
  .cta-button.corners:hover::after {
    width: 54px;
    height: 54px;
  }
}