/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

figure.fig {
  /* Reset UA styles, these always interfere with our styling. */
  margin: 0;
}

.fig img {
  max-width: 100%;
  max-height: 100%;
}

/* Mobile layout is very compact and most often leaves no
   space for the refs. For mobile refs can still be accessed
   through the footer drawer. */
@media (max-width: 648px) {
  .fig__ref {
    display: none;
  }
}