/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.mission__inner {
  position: relative;
}

.mission__text {
  position: absolute;
  top: 144px;
  right: 144px;
  color: var(--color-green);
  background-color: white;

  border: 2px solid;
  padding: 36px;
}

.mission__image {
  margin-top: 36px;
  margin-left: 144px;

  display: flex;
  align-items: flex-end;
}

.mission__image img {
  width: 100%;
}

.mission__caption {
  margin-left: 18px;
}