/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.news-slider-wrapper {
  overflow: hidden;
}

.news-slider {
  position: relative;
  height: 500px; /* initial height, will be resized in component */
}

.news-slider__content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding-left: 180px; /* 0.5 * 72px + 2.5 * 72px - 0.5 * 72px*/
  border: 2px solid transparent;
  background-color: white;
  opacity: 0;
  transition: all 0.5s;
}
.is-wm-type .news-slider__content {
  border-color: var(--color-blue);
}
.is-member-type .news-slider__content {
  border-color: var(--color-violet);
}
.is-iniative-type .news-slider__content {
  border-color: var(--color-orange);
}
.is-project-type .news-slider__content {
  border-color: white;
}

.active .news-slider__content {
  /* fade out quickly, fade out with delay a little bit less quick */
  transition-duration: 1s;
  transition-delay: .75s;
  opacity: 1;
}

.news-slider__type {
  position: absolute;
  top: 36px;
  left: 36px;
}

.news-slider__type,
.news-slider__content > p:first-of-type {
  /* align both type and first paragraph at top */
  margin-top: 0;
}

.active .news-slider__content {
  z-index: 2;
  opacity: 1;
}
.news-slider__cover {
  position: absolute;
  z-index: 3;
  top: 72px;
  transition: all 1s;
  opacity: 0;
}
.news-slider__cover > * {
  max-width: 100%;
  max-height: 100%;
}
.next .news-slider__cover {
  opacity: .2;
  right: -400px;
}
.active .news-slider__cover {
  right: 432px;
  opacity: 1;
}
.prev .news-slider__cover {
  /* simulate motion by slightly going left, and immediately disappearing */
  right: 504px;
  opacity: 0;
}

.news-slider__next {
  display: block;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  top: 144px;
  right: -200px;
  border: 2px solid var(--color-green);
  background: white url(../../ico/arrow_r.svg) no-repeat center/80% auto;
}