/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.team {
  position: relative;
}
.team ul {
  list-style: none;
  padding-left: 0;
}

.team__list {
  width: 360px;
  line-height: 27px;
}
.team__list-item {
  position: relative;
}
.team__list-item:hover {
  color: var(--color-green);
  cursor: pointer;
}
.team__list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: width .3s;
  background-color: var(--color-green);
}
.team__list-item.active {
  color: var(--color-green);
}
.team__list-item.active::after {
  width: 100%;
}

.member {
  display: flex;
  position: relative;
}
.member + .member {
  display: none;
}
.member__name {
  width: 360px;
}

.member__image {
  width: 100%;
  height: 432px;

  background-size: cover;
  background-position: center center;
  transition: background-image .3s;
}

.member__info {
  position: absolute;
  top: 72px;
  right: 0;
  color: var(--color-green);
  background-color: white;

  border: 2px solid;
  padding: 36px;
}
.member__info h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.member__mail {
  border-bottom: 1px solid;
}