/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

.mf {
  background-color: var(--color-black);
}

.mf__nav a {
  display: inline-block;
  color: white;
}
.mf__nav a + a {
  margin-left: 72px;
}
@media (max-width: 1152px) {
  .mf__nav a {
    display: block;
    margin-bottom: 18px;
  }
  .mf__nav a + a {
    margin-left: 0;
  }
}