/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/* mh = main header */

.mh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
}
.mh__upper {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.mh__upper > * {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.mh__support {
  justify-content: center;
  text-align: center;
  background-color: var(--color-orange);
  color: white;
}
.mh__support-inner {
  text-align: center;
}

.mh__lower {
  height: 90px;
}

.mh__logo-wrap {
  margin: 0;
  position: relative;
  top: 26px;
}
.mh__logo {
  display: block;
  line-height: 0;
  color: transparent;
  overflow: hidden;
  height: 60px;
  width: 260px;
  background: url(../../img/wmde_logo_black.svg) no-repeat left center/contain;
}