/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/* mh = main header */

.mh {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  width: 100%;
  height: 90px;
}
.mh__inner {
  height: 90px;
  width: 100%;
}

.mh__logo-wrap {
  float: left;
  /* The logo image can not be easily centered vertically, as other
     elements can. The measured center is not the visual center. */
  position: relative;
  top: 10px;
}

.mh__new-notice,
.mh__support {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mh__new-notice {
  float: left;
  color: var(--color-green);
}

.mh__support {
  width: 288px; /* = 4 cols */
  float: right;
  text-align: center;
  background-color: var(--color-orange);
  color: white;
}

@media (max-width: 864px) {
  .mh,
  .mh__inner {
    height: 70px;
  }
  .mh__new-notice {
    display: none;
  }
  .mh__support {
    width: 216px; /* = 3 cols */
  }
}

@media (max-width: 720px) {
  .mh__support {
    display: none;
  }
}