/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

a {
  color: var(--color-dim-black);
  text-decoration-skip: ink;
}
a:focus {
  outline: none;
}
p a {
  color: var(--color-blue);
}
p a:hover {
  text-decoration: underline;
}