/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/* Limiters
---------------------------------------------------------------- */
.limit--20 {
  max-width: 1440px; /* = 20 * 1 cell */
}
.limit--14 {
  max-width: 1008px; /* = 14 * 1 cell */
}
.limit--7 {
  max-width: 504px;
}
.limit--5 {
  max-width: 360px;
}

/* Main Content
---------------------------------------------------------------- */
.center-column {
  margin-left: auto;
  margin-right: auto;
}

/* Content Padding
---------------------------------------------------------------- */
.cp--0-5 {
  padding: 36px;
}
.cp--1 {
  padding: 72px;
}
.cp--h1 {
  padding-left: 72px;
  padding-right: 72px;
}
.cp--t1-25 {
  padding-top: 90px;
}
.cp--v2 {
  padding-top: 144px;
  padding-bottom: 144px;
}
.cp--b2 {
  padding-bottom: 144px;
}