/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/* Limiters
---------------------------------------------------------------- */
.limit--20 {
  max-width: 1440px; /* = 20 * 1 cell */
}
.limit--16 {
  max-width: 1152px; /* = 16 * 1 cell */
}
.limit--14 {
  max-width: 1008px; /* = 14 * 1 cell */
}
.limit--12 {
  max-width: 864px;
}
.limit--8 {
  max-width: 576px;
}
.limit--7 {
  max-width: 504px;
}
.limit--6 {
  max-width: 432px;
}
.limit--5 {
  max-width: 360px;
}

/* Main Content
---------------------------------------------------------------- */
.center-column {
  margin-left: auto;
  margin-right: auto;
}

/* Content Margin
---------------------------------------------------------------- */
.cm--1 {
  margin: 72px;
}
.cm--0-5 {
  margin: 36px;
}

.cm--l5 {
  margin-left: 360px;
}
.cm--b1 {
  margin-bottom: 72px;
}

/* Content Padding
---------------------------------------------------------------- */
.cp--1 {
  padding: 72px;
}
.cp--0-5 {
  padding: 36px;
}

.cp--h2 {
  padding-left: 144px;
  padding-right: 144px;
}
.cp--h1 {
  padding-left: 72px;
  padding-right: 72px;
}
.cp--t1 {
  padding-top: 72px;
}
.cp--b1 {
  padding-bottom: 72px;
}

.cp--v2 {
  padding-top: 144px;
  padding-bottom: 144px;
}
.cp--v1-5 {
  padding-top: 108px;
  padding-bottom: 108px;
}
.cp--v1-25 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cp--v0-5 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.cp--t0-5 {
  padding-top: 36px;
}
.cp--t1 {
  padding-top: 72px;
}
.cp--t3-5 {
  padding-top: 252px;
}
.cp--t2 {
  padding-top: 144px;
}
.cp--t1-25 {
  padding-top: 90px;
}

.cp--r1 {
  padding-right: 72px;
}
.cp--r0-5 {
  padding-right: 36px;
}

.cp--b4 {
  padding-bottom: 288px;
}
.cp--b2-5 {
  padding-bottom: 180px;
}
.cp--b2 {
  padding-bottom: 144px;
}
.cp--b1 {
  padding-bottom: 72px;
}
.cp--b0-5 {
  padding-bottom: 36px;
}

.cp--l2-5 {
  padding-left: 180px;
}
.cp--l2 {
  padding-left: 144px;
}

/* Minimalistic Grid Layout
---------------------------------------------------------------- */
/* 20 cols for 1440px = 72px per col */
.cells {
  display: flex;
}
.cell--1 {
  width: 72px;
}
.cell--2 {
  width: 144px;
}
.cell--10 {
  width: 720px;
}
.cell--1e {
  width: 1008px;
}
.cell--20 {
  width: 1440px;
}

@media (max-width: 1152px) { /* 16 cells */
  .limit--5 {
    max-width: 50vw;
  }
  .cp--h1 {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .cp--v1-5 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

@media (max-width: 648px) { /* 9 cells */
  .cp--h1 {
    padding-left: calc(100vw / 12);
    padding-right: calc(100vw / 12);
  }
  .cp--v2 {
    padding-top: 36px;
    padding-bottom: 72px;
  }
  .cp--v1-5 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .cp--t1-25 {
    padding-top: 36px;
  }
}
