/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/* Limiters
---------------------------------------------------------------- */
.limit--20 {
  max-width: 1440px; /* = 20 * 1 cell */
}
.limit--16 {
  max-width: 1152px; /* = 16 * 1 cell */
}
.limit--14 {
  max-width: 1008px; /* = 14 * 1 cell */
}
.limit--12 {
  max-width: 864px;
}
.limit--8 {
  max-width: 576px;
}
.limit--7 {
  max-width: 504px;
}
.limit--6 {
  max-width: 432px;
}
.limit--5 {
  max-width: 360px;
}

/* Main Content
---------------------------------------------------------------- */
.center-column {
  margin-left: auto;
  margin-right: auto;
}

/* Content Margin
---------------------------------------------------------------- */
.cm--1 {
  margin: 72px;
}
.cm--0-5 {
  margin: 36px;
}

.cm--b1 {
  margin-bottom: 72px;
}

.cm--r1 {
  margin-right: 72px;
}

.cm--l5 {
  margin-left: 360px;
}

/* Half every spacing class. */
@media (max-width: 1152px) {
  .cm--1 {
    margin: 36px;
  }
  .cm--0-5 {
    margin: 18px;
  }

  .cm--b1 {
    margin-bottom: 36px;
  }

  .cm--r1 {
    margin-right: 36px;
  }

  .cm--l5 {
    margin-left: 180px;
  }
}

/* Quarter every spacing class. */
@media (max-width: 648px) {
  .cm--1 {
    margin: 18px;
  }
  .cm--0-5 {
    margin: 9px;
  }

  .cm--b1 {
    margin-bottom: 18px;
  }

  .cm--r1 {
    margin-right: 18px;
  }

  .cm--l5 {
    margin-left: 90px;
  }
}

/* Content Padding
---------------------------------------------------------------- */
.cp--1 {
  padding: 72px;
}
.cp--0-5 {
  padding: 36px;
}

.cp--h2 {
  padding-left: 144px;
  padding-right: 144px;
}
.cp--h1 {
  padding-left: 72px;
  padding-right: 72px;
}
.cp--h0-5 {
  padding-left: 36px;
  padding-right: 36px;
}

.cp--v2 {
  padding-top: 144px;
  padding-bottom: 144px;
}
.cp--v1-5 {
  padding-top: 108px;
  padding-bottom: 108px;
}
.cp--v1-25 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cp--v0-5 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.cp--t3-5 {
  padding-top: 252px;
}
.cp--t2 {
  padding-top: 144px;
}
.cp--t1-25 {
  padding-top: 90px;
}
.cp--t1 {
  padding-top: 72px;
}
.cp--t0-5 {
  padding-top: 36px;
}

.cp--r1 {
  padding-right: 72px;
}
.cp--r0-5 {
  padding-right: 36px;
}

.cp--b4 {
  padding-bottom: 288px;
}
.cp--b2-5 {
  padding-bottom: 180px;
}
.cp--b2 {
  padding-bottom: 144px;
}
.cp--b1 {
  padding-bottom: 72px;
}
.cp--b0-5 {
  padding-bottom: 36px;
}

.cp--l2-5 {
  padding-left: 180px;
}
.cp--l2 {
  padding-left: 144px;
}

/* Half every spacing class. */
@media (max-width: 1152px) {
  .cp--1 {
    padding: 36px;
  }
  .cp--0-5 {
    padding: 18px;
  }

  .cp--h2 {
    padding-left: 72px;
    padding-right: 72px;
  }
  .cp--h1 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .cp--h0-5 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .cp--v2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .cp--v1-5 {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  .cp--v1-25 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .cp--v0-5 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .cp--t3-5 {
    padding-top: 126px;
  }
  .cp--t2 {
    padding-top: 72px;
  }
  .cp--t1-25 {
    padding-top: 45px;
  }
  .cp--t1 {
    padding-top: 36px;
  }
  .cp--t0-5 {
    padding-top: 18px;
  }

  .cp--r1 {
    padding-right: 36px;
  }
  .cp--r0-5 {
    padding-right: 18px;
  }

  .cp--b4 {
    padding-bottom: 144px;
  }
  .cp--b2-5 {
    padding-bottom: 90px;
  }
  .cp--b2 {
    padding-bottom: 72px;
  }
  .cp--b1 {
    padding-bottom: 36px;
  }
  .cp--b0-5 {
    padding-bottom: 18px;
  }

  .cp--l2-5 {
    padding-left: 90px;
  }
  .cp--l2 {
    padding-left: 72px;
  }
}

/* Quarter every spacing class. */
@media (max-width: 648px) {
  .cp--1 {
    padding: 18px;
  }
  .cp--0-5 {
    padding: 9px;
  }

  .cp--h2 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .cp--h1 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .cp--h0-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .cp--v2 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .cp--v1-5 {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .cp--v1-25 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .cp--v0-5 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .cp--t3-5 {
    padding-top: 63px;
  }
  .cp--t2 {
    padding-top: 36px;
  }
  .cp--t1-25 {
    padding-top: 22px;
  }
  .cp--t1 {
    padding-top: 18px;
  }
  .cp--t0-5 {
    padding-top: 9px;
  }

  .cp--r1 {
    padding-right: 18px;
  }
  .cp--r0-5 {
    padding-right: 9px;
  }

  .cp--b4 {
    padding-bottom: 72px;
  }
  .cp--b2-5 {
    padding-bottom: 45px;
  }
  .cp--b2 {
    padding-bottom: 36px;
  }
  .cp--b1 {
    padding-bottom: 18px;
  }
  .cp--b0-5 {
    padding-bottom: 9px;
  }

  .cp--l2-5 {
    padding-left: 45px;
  }
  .cp--l2 {
    padding-left: 36px;
  }
}