/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* Limiters
---------------------------------------------------------------- */
.limit--20 {
  max-width: 1440px; /* = 20 * 1 cell */
}
.limit--14 {
  max-width: 1008px; /* = 14 * 1 cell */
}

/* Content Padding
---------------------------------------------------------------- */
.cp--h1 {
  padding: 72px;
}
.cp--t1-25 {
  padding-top: 90px;
}
.cp--b2 {
  padding-bottom: 144px;
}