/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

/*
   You'll need a browser with CSS variables support to make this
   work during development only.

   http://caniuse.com/#feat=css-variables

   Usually such a browser is needed only during development and
   a build/deploy process will convert the variable syntax for
   browser that don't understand it for all other environments.

   Please note that due to compatiblity CSS variable definition
   are limited to `:root` only.
*/

:root {
  /* Colors */
  --color-green: #339966;
  --color-orange: #f29400;
  --color-gray: #dce4e8;
  --color-lightgray: #f0f0f0;
  --color-black: #131313;

  /* Typography */
  --font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}