/*!
 * Copyright 2013 David Persson. All rights reserved.
 * Copyright 2016 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

@import "normalize.css";
@import "globals/variables.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Source+Serif+Pro:400,700');
@import "globals/typography.css";
@import "globals/basics.css";
@import "globals/hyperlinks.css";
@import "globals/text.css";
@import "globals/util.css";
@import "globals/headlines.css";
@import "globals/layout.css";
@import "globals/header.css";
@import "globals/footer.css";
@import "globals/forms.css";
@import "globals/buttons.css";
@import "globals/sections.css";
@import "globals/corners.css";

@import "components/illuHero.css";
@import "components/logo.css";
@import "components/mission.css";
@import "components/newsSlider.css";
@import "components/team.css";
@import "components/ctaButton.css";

/*
  All "views" CSS files, except those in "elements", are loaded
  automatically when needed. However its good practive to scope
  them to their page.
*/