/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by the AGPL v3
 * license that can be found in the LICENSE file.
 */

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  /* Reset UA styles, these always interfere with our styling. */
  margin: 0;
}